/* Mercury doesn't have support for everything so we'll override in some cases:
 */
span[lang|=grc], /* Ancient (Polytonic) Greek - otherwise graves have a weird rendering */
span[lang|=si-Latn] /* Sinhalese Latin - otherwise dotted m has issues */
{
    font-family: serif;
}

/* Italicize non-English (but Latin) languages: */
span[lang|=de], /* German */
span[lang|=es], /* Spanish */
span[lang|=fr], /* French */
span[lang|=ga], /* Gaelic */
span[lang|=grc-Latn], /* Ancient Greek */
span[lang|=gsw], /* Swiss German */
span[lang|=haw], /* Hawaiian */
span[lang|=is], /* Icelandic */
span[lang|=it], /* Italian */ 
span[lang|=ja-Latn], /* Japanese */
span[lang|=ko-Latn], /* Korean */
span[lang|=nl], /* Dutch */
span[lang|=pt], /* Portuguese */
span[lang|=rng], /* Ronga */
span[lang|=si-Latn], /* Sinhalese */
span[lang|=st], /* seSotho */
span[lang|=so], /* Somali */
span[lang|=sv], /* Swedish */
span[lang|=tn], /* Tswana */
span[lang|=yue-Latn], /* Cantonese */
span[lang|=zh-Latn], /* (Mandarin) Chinese */
span[lang|=zu] /* isiZulu */
{ font-style: italic }

/* present proper nouns upright as there is no need to distinguish from
 * surrounding text */
span.proper-noun, span.game-title { font-style: inherit }

/* Work titles in non-Latin languages: */
cite:lang(zh) { font-style: inherit }
cite:lang(zh)::before { content: '《' }
cite:lang(zh)::after { content: '》' }
cite:lang(ja) { font-style: inherit } 
cite:lang(ja)::before { content: '『' }
cite:lang(ja)::after { content: '』' }

cite:lang(zh-Latn) { font-style: italic }
cite:lang(zh-Latn)::before { content: '' }
cite:lang(zh-Latn)::after { content: '' }
cite:lang(ja-Latn) { font-style: italic }
cite:lang(ja-Latn)::before { content: '' }
cite:lang(ja-Latn)::after { content: '' }

/* Vertical text for Japanese poems to match cards: */
.vertical-rl {
    writing-mode: vertical-rl;
}

/* Make inline images (e.g. the CC licenses) fit in text: */
figcaption img, p img, footer img {
    height: .8em;
}

/* Centre figures: */
figure {
    margin: 0 0.5em;
}

/* Prevent page breaks inside figures: */
figure {
    page-break-inside: avoid;
}

/* Centre captions: */
figcaption {
    margin: 0 5%;
    text-align: center;
    font-size: 0.8em;
}

/* Stretch images inside figures to fit: */
figure > img {
    max-width: 100%;
    margin: 0 auto;
}
    
/* Embedded twitter */
.twitter-tweet {
  margin: 0 auto;
}

/* Columnar lists: */
.columnar {
    columns: 2;
}

/* Multiple items in a row: */
div.multi {
    display: flex;
    max-width: 100%;
    justify-content: space-around;

    clear:both;
}

div.multi > img {
    margin: 5px 10px;

    /* In flexbox images have an implied min-width of their 
     * implicit size so we need to override that. Then setting
     * width and height to 100% fixes the aspect ratio. /shrug
     * This solution from: https://github.com/philipwalton/flexbugs/issues/225
     */
    min-width: 0;
    width: 100%;
    height: 100%;
}

/* Make captions centred and smaller: */
.caption {
    text-align: center;
    font-size: 0.75em;
}

