@font-face {
    font-family: "UniHentaiKana";
    src: url('./UniHentaiKana-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "cc-icons";
    src: url('./cc-icons.woff2') format('woff2');
    unicode-range: U+1f16-1f16f, U+1f10d-1f10f, U+229c;
    font-display: swap;
}

@font-face {
    font-family: "NKD04";
    src: 
        url('./NKD04_Playing_Cards_Index.woff2') format('woff2'),
        url('./NKD04_Playing_Cards_Index.woff') format('woff'),
        url('./nkd04_playing_cards_index.ttf') format('truetype');
    font-display: swap;
}

$font-family-sans-serif:
    "Inter",
    sans-serif, 
    "cc-icons"; /* fallback for Creative Commons Unicode characters */

@mixin italic-font {
    font-family: "Fira Sans", sans-serif;
    font-style: italic;
    font-size: 1.03em;
}

$font-weight-light: 200;
$font-weight-normal: 300;

$line-height-base: 1.4;

// Using letter-spacing disables ligatures :/
//article p { letter-spacing: -0.011em; }
//.lead { letter-spacing: -0.017em; }

/*
From: https://rsms.me/inter/dynmetrics/
font-size: 16px;
letter-spacing: -0.011em;
line-height: 22px; // I loosened this a little from 1.375 to 1.4
*/

$primary: #6b5293;
$secondary: #7c85a3;
$light: #f4f7f5;
$dark: #201521;

$accent: #af4157;

$link-hover-decoration: underline $accent;
$link-decoration: underline $light;

$breadcrumb-bg: none;
$breadcrumb-divider: quote('›');

$headings-font-family: "Vollkorn", serif;
$headings-font-weight: 500;
$h1-font-size: 3rem;

$figure-caption-font-size: 1.2 * .625rem;

@import '~bootstrap/scss/bootstrap.scss';
@import './text.scss';

body {
    font-variant-numeric: oldstyle-nums;
    // doesn't work in Chrome with letter-spacing!  https://twitter.com/rsms/status/1158133140222689280
    //  font-variant-ligatures: common-ligatures contextual;
    // must instead use:
    //font-feature-settings: "liga", "calt"; /* this should be on by default but not in Chrome! */
}

i, cite, em {
    @include italic-font;
}

#root {
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 0rem;

    a {
        text-decoration: none;
    }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}

.permalink {
    display: none;
    color: lightgray;
    width: 1em;
    float: left;
    margin-left: -1em;
}

:hover > .permalink {
    display: inline;
}

h2 {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

@include media-breakpoint-up(sm) {
    // decorate headers on larger screens

    h2::before { 
        font-family: serif;
        font-weight: 100;
        content: "― " 
    }

    h2::after {
        font-family: serif;
        font-weight: 100;
        content: " ―";
    }
}

.articlesInThisSection {
    color: $secondary;
    font-size: .95em;
    text-transform: uppercase;
}

.prevNextArticle {
    color: $secondary;
    font-size: .8em;
    text-transform: uppercase;
}

// collapse breadcrumbs when small
@include media-breakpoint-down(md) {
    .breadcrumb {
        display: unset;
    }

    .breadcrumb-item + .breadcrumb-item {
        padding-left: .25em;
    }
}

.navbar {
    font-family: $font-family-sans-serif, "cc-icons", /* Creative Commons Unicode characters */ sans-serif;
}

.navbar a:not(:hover) {
    text-decoration: none;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav {
    text-transform: uppercase;
}

main {
    flex: 1;
    overflow-wrap: break-word;
}

// Do full justification on small screens:
@include media-breakpoint-down(sm) {
    section > p {
        hyphens: auto;
        text-align: justify;
    }
}

section {
  // trap floats inside:
  display: flow-root;
  clear: both;
}

blockquote {
  margin-left: 2em;
}

/*** Figures ***/
.figure {
    display: block;
}

figcaption {
    line-height: 17px;
    //letter-spacing: unset;
    /* TODO: text-wrap: balance; */
}

/* fix image orientation */
img {
    image-orientation: from-image;
}

/* set a max height for images */
.figure-img {
    max-height: 400px;
    max-width: 100%;
    width: auto;
    height: auto;

    border: 1px solid black;
}

/* don't border diagrams by default */
.figure-img[src$=".svg"] {
    border: none;
}

/* add a smaller version too */
figure.small .figure-img {
    max-height: 200px;
}

/* Figure placements */
figure {
    break-inside: avoid;
    width: 100%;
    @extend .text-center;

    &.right {
        @extend .float-lg-right, .ml-lg-3, .my-lg-1;
    }

    &.left {
        @extend .float-lg-left, .mr-lg-3, .my-lg-1;
    }

    &.left, &.right {
      @extend .col-12, .col-lg-5;
    }

    &.aside {
      @extend .footnote;
    }
}

/* Wide images are oversize on >=large bootstrap size */
@include media-breakpoint-up(lg) {
    figure.wide, div.multi.wide {
        width: 120%;
        margin-left: -10%;
        clear: both;
    }

    div.multi.extra-wide,
    figure.extra-wide {
        width: 155%;
        margin-left: -10%;
        clear: both;
    }

    figure.wide .figure-img,
    figure.extra-wide .figure-img {
        max-height: none;
        border-width: 2px;
    }

    figure.wide.footnote .figure-img {
      border: 1px solid black;
    }
}

/*** Jumbotron/hero ***/
.jumbotron {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
}

.jumbotron.hero {
    @extend .text-light;
    position: relative;

    &[style] {
        padding: 4rem 2rem;
        @include media-breakpoint-up(sm) {
            padding: 8rem 4rem;
        }
    }

    h1 > a {
        padding: 0 .5em;
        padding-top: .1em;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.heroSource {
    position: absolute;
    right: 0;
    bottom: 0;

    font-size: .8em;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 .5em;
    border-top-left-radius: 5px;

    a { color: $light }
}

/*** References ***/
/* space them out */
.reference-list > li {
    margin-top: 1em;
    text-align: left;
}

/* hanging indent */
.reference-list.list-unstyled > li {
    margin-left: 3em;
    text-indent: -3em;
}

/*** Highlight target of link ***/
*:target {
    padding: 5px;
    margin-right: -5px;
    margin-left: -5px;
    border-radius: 10px;
    border: 1px dashed $accent;
}

p[itemprop="citation"]:target {
    margin-left: -2em;
    padding-left: 2em;
}

abbr[title] {
    text-decoration: none;
}

.reference-warning {
    font-size: smaller;
    abbr { color: $accent; }
}

/*** Citations ***/
.citation { color: $secondary }
.citation a { color: $accent }
sup.citation a::before {
  content: '•';
}

sup.citation {
  line-height: 0; // don't let superscript affect calculated lineheight 
}

/*** Pronunciation ***/
.pronunciation {
    text-decoration: lighten($secondary, 30%) underline wavy;
    text-decoration-skip-ink: none;
    cursor: help;
}

.pronunciation:hover {
    text-decoration: $secondary underline wavy;
}

/*** Tables ***/
td.numeric, th.numeric, table.numeric tbody td {
    // TODO: font doesn't support it 
    font-variant-numeric: tabular-nums;
    text-align: right;
}

table {
    margin: 0 auto;
    margin-bottom: 1em;
}

table.table {
    width: unset;
    clear: both;
}

td {
    padding: 0.8rem;
}

table caption {
    line-height: 1.1em;
    text-align: center;
    font-size: $figure-caption-font-size;
}

table.rule-between-cells tr+tr {
    border-top: thin solid black;
}
table.rule-between-cells td+td {
    border-left: thin solid black;
}

table.rule-first-row tr:first-child {
    border-bottom: thin solid black;
}

table.rule-first-col td:first-child {
    border-right: thin solid black;
}

table.rule-last-col td:last-child {
    border-left: thin solid black;
}

table.rule-last-row tr:last-child {
    border-top: thin solid black;
}

/*** Lists ***/

ul {
    // reduce indentation
    padding-left: 1.5em;
}
  
/*** Footnotes ***/
.footnote {
  font-size: 13px;
  //letter-spacing: -0.003em;
  line-height: 18px;

  padding: .5em 1em;
  border: 1px lightgray dotted;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

figure.footnote {
  text-align: center;
  border: none;
}

.footnote p {
    text-align: left;
}

// remove bottom margin from last <p>
.footnote p:last-child {
  margin-bottom: 0;
}

body {
    counter-reset: footnote;
}

span.footnote {
  float: left;
  width: 100%;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

aside.footnote::before {
  content: "☞ ";
  font-size: 1.5em;
  line-height: 1rem;
  float: left;
  padding-top: 1px;
  color: $accent;
}

// indicators:

.footnote-indicator::before {
    counter-increment: footnote;
    content: counter(footnote);
    font-variant-position: super;
    margin-left: 1px;
}

span.footnote::before {
    content: counter(footnote) " ";
    font-variant-position: super;
}

.footnote-indicator:hover,
.footnote-indicator:hover + .footnote::before {
    color: $accent;
    text-decoration: underline;
}

@include media-breakpoint-up(lg) {
    span.footnote, aside.footnote, figure.footnote {
      padding: 0;

      margin-top: 0;
      margin-right: -45%;
      width: 40%;

      clear: right;
      float: right;

      border: none;
    }

    span.footnote::before{
        // outdent footnote 
        position:absolute;
        right: -.7em;
    }


    .footnote.wide {
      width: 60%;
      margin-right: -65%;
    }
}

@include media-breakpoint-up(xl) {
    span.footnote::before {
      right: -1em;
    }
}

/*
TODO
@media print {
    section[itemprop="articleBody"] {
        margin-right: 35%;
    }

    span.footnote, aside.footnote, figure.footnote {
        padding: 0;
        margin-top: 0;
        margin-right: -40%;
        width: 35%;
        clear: right;
        float: right;
        border: none;
    }

    span.footnote {
      text-indent: -.6em; // outdent the number
    }

    .footnote.wide {
      width: 55%;
      margin-right: -60%;
    }
}
*/

/*** Multiple items in a row: ***/
div.multi {
    display: flex;
    width: 100%;
    justify-content: space-around;

    &.wide, &.extra-wide {
        margin-bottom: 1rem;
    }
}

// margins for children
div.multi > * { margin: 5px 10px; }
figure.cram div.multi > * { margin: 2px; }
div.multi :last-child { margin-right: 0; }
div.multi :first-child { margin-left: 0; }

// space out after poetry etc
div.multi > p {
    margin-bottom: 1em;
}

@include media-breakpoint-down(sm) {
    div.multi.only-large {
        display: block;
    }
}

/*** For Japanese/Chinese, where needed ***/
.vertical-rl {
    writing-mode: vertical-rl;
}

/*** Inline images (e.g. GPL icon) ***/
figcaption img {
    vertical-align: text-bottom;
}

/*** Abbreviations ***/
abbr.initialism {
    font-variant: small-caps;
}

.smallcaps {
    font-variant: small-caps;
}

ul.article-list {
  @extend .my-2;
  @extend .mx-auto;
}

ul.article-list ul.article-list {
  @extend .my-0;
  padding-left: .8em;
}

ul.article-list li {
  list-style-type: '• '
}

article a {
  padding: 1px;
}

/** Barcode font? ha. **/
.barcode {
  font-family: sans-serif;
  font-variant-numeric: lining-nums;
}

/** Branding **/

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

a[href*="wikipedia.org" i] {
    &:after {
        @extend %fa-icon;
        @extend .fab;
        content: fa-content($fa-var-wikipedia-w);
        vertical-align: super;
        font-size: .5em;
        line-height: 0; // don't let sub/superscript affect line-height
    }

    &:hover:after {
        color: $accent;
    }
}

/* TO FINISH LATER
@media print {
    a {
        text-decoration: none !important;
    }

    a:not([href^="#"]){
        &:before {
            content: "† " attr(href);
            font-family: monospace;
            float: right;
            clear: right;

            width: 55%;
            margin-right: -60%;

            font-size: inherit;
        }

        &:after {
            content: "†";
            font-size: inherit;
            vertical-align: inherit;
        }
    }
}
*/

.inline-img {
    height: 1em;
    vertical-align: sub;

    &.big {
        height: 2em;
    }
}

/** Lightbox **/

// ideas from: https://codepen.io/gschier/pen/HCoqh

.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);

  cursor: zoom-out;
}

a .figure-img {
    cursor: zoom-in;
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block !important;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Columns */
.columnar {
    columns: 2;
}
