@use "sass:color";

@font-face {
    font-family: "UniHentaiKana";
    src: url('/fonts/UniHentaiKana-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "cc-icons";
    src: url('/fonts/BabelStoneCommons.woff2') format('woff2'),
        url('/fonts/BabelStoneCommons.woff') format('woff'),
        url('/fonts/BabelStoneCommons.ttf') format('truetype');
    unicode-range: U+1f16d-1f16f, U+1f10d-1f10f, U+229c;
    font-display: swap;
}

@font-face {
    font-family: "NKD04";
    src: 
        url('/fonts/NKD04_Playing_Cards_Index.woff2') format('woff2'),
        url('/fonts/NKD04_Playing_Cards_Index.woff') format('woff'),
        url('/fonts/nkd04_playing_cards_index.ttf') format('truetype');
    size-adjust: 80%;
    font-display: swap;
}

@font-face {
    font-family: "NKS30";
    src: 
        url('/fonts/nks30_chess_pieces.woff2') format('woff2'),
        url('/fonts/nks30_chess_pieces.woff') format('woff'),
        url('/fonts/nks30_chess_pieces.ttf') format('truetype');
    unicode-range: U+2654-265f;
    font-display: swap;
}

@font-face {
    font-family: 'ocrb';
    src: url('/fonts/ocrb.woff2') format('woff2'),
         url('/fonts/ocrb.woff') format('woff'),
         url('/fonts/ocrb.ttf') format('truetype');
    size-adjust: 80%;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Emoji";
    font-display: swap;
    src: url('/fonts/NotoEmoji-Medium-min.woff2') format('woff2'),
         url('/fonts/NotoEmoji-Medium-min.woff') format('woff');
    unicode-range: U+1f9fe, U+1f3b2, U+1f4e3, U+1f4da;
}

@font-face {
    font-family: "Noto Naksh";
    font-display: swap;
    src: url('/fonts/NotoNaskhArabic-VariableFont_wght.woff2') format('woff2'),
         url('/fonts/NotoNaskhArabic-VariableFont_wght.woff') format('woff');
}

@font-face {
    font-family: CharisSILW;
    src: url('/fonts/CharisSIL-Regular.woff2') format('woff2'),
        url('/fonts/CharisSIL-Regular.woff') format('woff');
}
@font-face {
    font-family: CharisSILW;
    font-style: italic;
    src: url('/fonts/CharisSIL-Italic.woff2') format('woff2'),
        url('/fonts/CharisSIL-Italic.woff') format('woff');
}
@font-face {
	font-family: CharisSILW;
	font-weight: bold;
	src: url('/fonts/CharisSIL-Bold.woff2') format('woff2'),
        url('/fonts/CharisSIL-Bold.woff') format('woff');
}
@font-face {
	font-family: CharisSILW;
	font-weight: bold;
	font-style: italic;
	src: url('/fonts/CharisSIL-BoldItalic.woff2') format('woff2'),
        url('/fonts/CharisSIL-BoldItalic.woff') format('woff');
}

$font-family-sans-serif:
    CharisSILW,
    "NKS30",
    "Noto Emoji",
    serif, 
    "cc-icons", // fallback for Creative Commons Unicode characters
    "UniHentaiKana"; // fallback for Hentaigana chars

$primary: #6b5293;
$secondary: #7c85a3;
$light: #f4f7f5;
$dark: #201521;

$accent: #af4157;

$link-hover-decoration: underline $accent;
$link-decoration: underline $light;

$breadcrumb-bg: none;
$breadcrumb-divider: quote('›');

$navbar-dark-color: rgba(255, 255, 255, 0.8);
$navbar-dark-hover-color: rgba(255, 255, 255, 0.9);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './text.scss';

$figure-caption-font-size: $font-size-sm;

body {
    font-variant-numeric: oldstyle-nums;
    font-variant-ligatures: common-ligatures contextual;
}

body {
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 0rem;

    a {
        text-decoration: none;
    }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}

.permalink {
    display: none;
    color: lightgray;
    width: 1em;
    float: left;
    margin-left: -1em;
}

:hover > .permalink {
    display: inline;
}

h2 {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

h3 { 
    margin-top: 1.5rem;
}

@include media-breakpoint-up(sm) {
    // decorate headers on larger screens

    h2::before { 
        font-family: serif;
        font-weight: 100;
        content: "― " ;
        color: lightgray;
    }

    h2::after {
        font-family: serif;
        font-weight: 100;
        content: " ―";
        color: lightgray;
    }
}

.articlesInThisSection {
    color: $secondary;
    font-size: .95em;
    font-variant: small-caps;
}

.prevNextArticle {
    color: $secondary;
    font-size: .8em;
    font-variant: small-caps;
}

// collapse breadcrumbs when small
@include media-breakpoint-down(md) {
    .breadcrumb {
        display: unset;
    }

    .breadcrumb-item + .breadcrumb-item {
        padding-left: .25em;
    }
}

.navbar a:not(:hover) {
    text-decoration: none;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav {
    font-variant: small-caps;
}

main {
    flex: 1;
    overflow-wrap: break-word;
}

// do full justification on main-text paragraphs
:is(section, div.content) > p {
    hyphens: auto;

    &:not(.lead) {
        text-align: justify;
    }
}


section {
  // trap floats inside:
  display: flow-root;
  clear: both;
}

blockquote {
  margin-left: 2em;
}

/* big quote before epigraph quotes */
.epigraph::before {
    content: '❝';
    display: block;
    margin-left: -.7em;
    font-size: 2em;
    position: absolute;
    margin-top: -.3em;
}

/*** Figures ***/
.figure {
    display: table;
}

figcaption {
    width: 100%;

    display: table-caption;
    caption-side: bottom;

    text-wrap: balance;

    & p:last-of-type {
        margin-bottom: 0;
    }
}

/* fix image orientation */
img {
    image-orientation: from-image;
}

/* set a max height for images */
.figure-img {
    max-height: 400px;
    max-width: 100%;
    width: auto;
    height: auto;

    border: 1px solid black;
}

/* don't border diagrams by default */
/*! purgecss ignore */
.figure-img[src$=".svg"] {
    border: none;
}

/* add a smaller version too */
figure.small .figure-img {
    max-height: 200px;
}

figure.extra-small .figure-img {
    max-height: 100px;
}

/* Figure placements */
figure {
    break-inside: avoid;
    width: 100%;
    @extend .text-center;

    &.right {
        @extend .float-lg-end, .ms-lg-3, .my-lg-0;
    }

    &.left {
        @extend .float-lg-start, .me-lg-3, .my-lg-0;
    }

    &.left, &.right {
      @extend .col-12, .col-lg-5;
    }

    &.aside {
      @extend .footnote;
    }
}


/*** Multiple items in a row: ***/
div.multi {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;

    &.centered{
        justify-content: center;
    }

    figure {
        // unset width: 100% for figures
        width: unset;

        img {
            width: 100%;
        }
    }
}

div.wide, div.extra-wide {
    margin-bottom: 1rem;
}

// margins for children
div.multi > * { margin: 10px 5px; }
figure.cram div.multi > * { margin: 2px; }
div.multi > :last-child { margin-right: 0; }
div.multi > :first-child { margin-left: 0; }

// space out after poetry etc
div.multi > p {
    margin-bottom: 1em;
}

.parallel {
    display: flex;
    width: 100%;

    & > * {
        flex: 1 1 0;
    }
}

.scroll-horizontally {
    overflow-x: scroll;
}

@include media-breakpoint-down(sm) {
    div.multi.only-large {
        display: block;
    }
}

/* Wide images are oversize on >=large bootstrap size */
@include media-breakpoint-up(lg) {
    figure.wide, div.multi.wide, ul.wide {
        width: 120%;
        margin-left: -10%;
        clear: both;
    }

    div.extra-wide,
    figure.extra-wide,
    ul.extra-wide {
        width: 155%;
        margin-left: -10%;
        clear: both;
    }

    figure.wide .figure-img,
    figure.extra-wide .figure-img {
        max-height: none;
        border-width: 2px;
    }

    figure.wide.footnote .figure-img {
      border: 1px solid black;
    }
}

/*** Jumbotron/hero ***/
.jumbotron {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
    // todo: investigate why this doesn't work
    margin-bottom: 0;
}

.jumbotron.hero {
    @extend .text-light;
    position: relative;

    &[style] {
        padding: 4rem 2rem;
        @include media-breakpoint-up(sm) {
            padding: 8rem 4rem;
        }
    }
    
    h1 > a {
        display: inline-block;
        padding: 0 .5em;
        padding-top: .1em;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.8);
    }

    h1 .inline-img[src$=".svg"] {
        filter: invert(1)
    }
}

.heroSource {
    position: absolute;
    right: 0;
    bottom: 0;

    font-size: .8em;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 .5em;
    border-top-left-radius: 5px;

    a { color: $light }
}

/*** References ***/
.reference-list > li {
    /* space them out */
    margin-top: 1em;
    text-align: left;

    &::marker {
        color: $accent;
    }
}


/* hanging indent for Bibliography */
.reference-list.list-unstyled > li {
    margin-left: 2em;
    text-indent: -2em;
}

/* nested backreference lists need indentation undone */
.backreferences > li {
    text-indent: 0;
}

.backreferences {
    margin-top: .1em;
    list-style-type: '→ ';
}

/*** Highlight target of link ***/
h2, h3, h4, h5, h6, p[id] {
    &:target {
        padding: 5px;
        margin-right: -5px;
        margin-left: -5px;
        border-radius: 10px;
        border: 1px dashed $accent;
    }
}

p[itemprop="citation"]:target {
    margin-left: -2em;
    padding-left: 2em;
}

abbr[title] {
    text-decoration: none;
}

.reference-warning, .reference-note {
    font-size: smaller;
    abbr { color: $accent; }
}

/*** Citations ***/
.citation {
    color: $secondary;

    &:not(.inline) {
        margin-left: 2px;

        // TODO: restore if I ever get Brill fonts
        // font-feature-settings: "sups";
    }

    &>.index {
        color: $accent;
    }
}

/*** Pronunciation ***/
.pronunciation {
    text-decoration: color.scale($secondary, $lightness: 30%) underline wavy;
    text-decoration-skip-ink: none;
    cursor: help;
}

.pronunciation:hover {
    text-decoration: $secondary underline wavy;
}

/*** Tables ***/
td.numeric, th.numeric,
table.numeric>:is(tbody,tfoot)>tr>:is(th,td),
:is(tbody,tfoot).numeric>tr>:is(th,td) {
    font-variant-numeric: tabular-nums;
    text-align: right;
}

table {
    margin: 0 auto;
    margin-bottom: 1em;
}

table.table {
    width: unset;
    clear: both;
}

td {
    padding: 0.8rem;
}

th > p:last-child, td > p:last-child, th > figure, td > figure {
    margin-bottom: 0;
}

.sticky-left {
    position: sticky;
    left: 0;
    z-index: 1;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1;
}

table caption {
    line-height: 1.1em;
    text-align: center;
    font-size: $figure-caption-font-size;
}

table.rule-between-cells tr+tr {
    border-top: thin solid black;
}

table.rule-between-cells td+td {
    border-left: thin solid black;
}

table.rule-first-row tr:first-child {
    border-bottom: thin solid black;
}

table.rule-first-col tr>:first-child {
    border-right: thin solid black;
}

table.rule-last-col tr>:last-child {
    border-left: thin solid black;
}

table.rule-last-row tr:last-child {
    border-top: thin solid black;
}

/*** Lists ***/

ul {
    // reduce indentation
    padding-left: 1.5em;

    p:last-of-type {
        margin-bottom: 0;
    }
}

/*** TOC ***/

section:has(> h2[id='table-of-contents']) {
    //position: sticky;
    //left: 0;
}
  
/*** Footnotes ***/
.footnote {
  font-size: $font-size-sm;

  padding: .5em 1em;
  border: 1px lightgray dotted;
  margin-top: 1rem;
  margin-bottom: 1rem;

  text-align: left;
}

figure.footnote {
  text-align: center;
  border: none;
}

// remove bottom margin from last <p>
.footnote p:last-child {
  margin-bottom: 0;
}

body {
    counter-reset: footnote;
}

span.footnote {
  float: left;
  width: 100%;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

aside.footnote::before {
  content: "☞\202F"; // narrow no-break space
  font-size: 1.6rem;
  line-height: 1.1rem;
  float: left;
  color: $accent;
}

// indicators:

.footnote-indicator::before {
    counter-increment: footnote;
    content: counter(footnote);
    // font-variant-position: super; - not yet supported
    font-feature-settings: "sups";
    margin-left: 1px;
}

span.footnote::before {
    content: counter(footnote) " ";
    // font-variant-position: super; - not yet supported
    font-feature-settings: "sups";
}

.footnote-indicator:hover,
.footnote-indicator:hover + .footnote::before {
    color: $accent;
    text-decoration: underline;
}

@include media-breakpoint-up(lg) {
    span.footnote, aside.footnote, figure.footnote {
      padding: 0;

      margin-top: 0;
      margin-right: -45%;
      width: 40%;

      clear: right;
      float: right;

      border: none;
    }

    .footnote.wide {
      width: 60%;
      margin-right: -65%;
    }
}


/*
TODO
@media print {
    section[itemprop="articleBody"] {
        margin-right: 35%;
    }

    span.footnote, aside.footnote, figure.footnote {
        padding: 0;
        margin-top: 0;
        margin-right: -40%;
        width: 35%;
        clear: right;
        float: right;
        border: none;
    }

    span.footnote {
      text-indent: -.6em; // outdent the number
    }

    .footnote.wide {
      width: 55%;
      margin-right: -60%;
    }
}
*/

/*** For Japanese/Chinese, where needed ***/
.vertical-rl {
    writing-mode: vertical-rl;
    font-feature-settings: "vkrn", "vpal", "vkna";
}

.sideways {
    writing-mode: vertical-rl;
    transform: scale(-1);
}

.centered {
    text-align: center;
    vertical-align: middle;
}

/*** Abbreviations ***/
abbr.initialism {
    font-variant: all-small-caps;
    font-size: inherit; // override Bootstrap
}

.smallcaps {
    font-variant: small-caps;
}

/* Lists */

dd {
    margin-left: 1em;
}

dl {
    margin-bottom: 2em;
}

ul.article-list {
  @extend .my-2;
  @extend .mx-auto;
}

ul.article-list ul.article-list {
  @extend .my-0;
  padding-left: .8em;
}

ul.article-list li {
  list-style-type: '• '
}

/** Barcode font? ha. **/
.barcode {
  font-family: sans-serif;
  font-variant-numeric: lining-nums;
}

/** Branding **/

/*! purgecss ignore */
a[href*="wikipedia.org" i] {
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-color: color.scale($secondary, $lightness: 30%);
    text-decoration-thickness: 1px;
    color: inherit;
    position: relative;

    &:hover {
        text-decoration-color: $accent;
        text-decoration-style: solid;
    }
}

.inline-img {
    height: 1.05em;
    //vertical-align: text-top;

    &.big {
        height: 2em;
    }
}

.image-identifier {
    // don't wrap identifiers
    white-space: nowrap;
}

/** Lightbox **/
.lightbox {
    border-radius: 10px;
    font-size: $figure-caption-font-size;
}

.lightbox::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.lightbox img {
  cursor: zoom-out;
  max-width: 100%;
  max-height: calc(100vh - 8rem);
}

a .figure-img {
  cursor: zoom-in;
}

.lightbox-close, .lightbox-original {
    @extend .btn, .btn-sm, .btn-outline-primary, .ms-2;
}

.lightbox-close::before {
    content: "✖\00A0"
}

.lightbox-original::before {
    content: "⬇\00A0"
}

.lightbox-under {
    @extend .mt-2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Columns */
.columnar {
    columns: 2;
    margin-bottom: 1em;
}

@include media-breakpoint-up(lg) {
    .columnar-large {
        columns: 2;
    }
}

// 2 on smaller screens, 3 on bigger
.columnarr {
    columns: 2;
}

@include media-breakpoint-up(lg) {
    .columnarr {
        columns: 3;
    }
}

:is(.columnar, .columnarr, .columnar-large) li {
    // try to avoid splitting items across columns
    break-inside: avoid;
}

/* Barcodes */
span[itemprop="isbn"] {
    font-family: 'ocrb';
}

/* Spotify embeds */
iframe.spotify {
    border-radius: 12px;
    margin: 1em auto 1em auto;
    display: block;
    width: 80%;
    height: 80px;
    border: none;

    &.playlist {
        height: 380px;
    }
}

/* a bit hacky */
.at-least-150-px {
    min-width: 150px;
}
@include media-breakpoint-up(lg) {
    .at-least-150-px {
        min-width: 320px;
    }
}

.full-width {
    // subtract out scrollbar width
    width: calc(100vw - 20px);
    position: relative;
    left: 0; // xs

    @include media-breakpoint-up(sm) {
        left: calc(
            var(--bs-gutter-x) * -0.5
            /* - 0.083333 * 540px */
            - ((100vw - 20px) - 540px)/2
        );
    }

    @include media-breakpoint-up(md) {
        left: calc(
            var(--bs-gutter-x) * -0.5
            /* - 0.083333 * 720px */
            - ((100vw - 20px) - 720px)/2
        );
    }

    @include media-breakpoint-up(lg) {
        left: calc(
            var(--bs-gutter-x) * -0.5
            - 0.083333 * 960px
            - ((100vw - 20px) - 960px)/2
        );
    }

    @include media-breakpoint-up(xl) {
        left: calc(
            var(--bs-gutter-x) * -0.5
            - 0.083333 * 1140px
            - ((100vw - 20px) - 1140px)/2
        );
    }

    @include media-breakpoint-up(xxl) {
        left: calc(
            var(--bs-gutter-x) * -0.5
            - 0.083333 * 1320px
            - ((100vw - 20px) - 1320px)/2
        );
    }
}

a[itemprop="license"] {
    white-space: nowrap;
}

.nav-link [role='img'] {
    color: $warning;
}
