@page {
    //size: A5;
}

body, .figure-caption {
    /* full-contrast */
    color: black;
}

body {
    min-height: auto;
}

html {
    font-size: 9pt;
}

a {
    text-decoration: inherit;
    color: inherit;

    &:after {
        // remove Wikipedia stuff
        content: none !important;
        width: 0 !important;
        margin-right: 0 !important;
    }
}

.pronunciation {
    text-decoration: inherit;
}

span.footnote {
    float: bottom;
}

header, .heroSource, .breadcrumb-container, .prev-next-container, .navbar, .other-articles-container {
    display: none;
}

.jumbotron.hero {
    padding: 0 !important;
    background-image: none !important;

    h1 > a {
        background: none;
        color: black;
    }
}

/* Break control */

figure, div.multi {
    break-inside: avoid;
}

h1, h2, h3, h4, h5, h6 {
    break-after: avoid;
}
