span:is( // Italicize all *-Latn languages:
  [lang*="-Latn"],
  // Italicize non-English (but Latin) languages:
  [lang|=ban],
  // Balinese 
  [lang|=bjn],
  /* Banjarese */
  [lang|=ca],
  // Catalan
  [lang|=cbl],
  // Chin (Bualkhaw)
  [lang|=cfm],
  // Chin (Falam)
  [lang|=da],
  /* Danish */
  [lang|=de],
  /* German */
  [lang|=dtp],
  /* Dusun(ic) */
  [lang|=ee],
  /* Ewe */
  [lang|=es],
  /* Spanish */
  [lang|=fil],
  /* Filipino */
  [lang|=fr],
  /* French */
  [lang|=ga],
  /* Gaelic */
  [lang|=gsw],
  /* Swiss German */
  [lang|=haw],
  /* Hawaiian */
  [lang|=hu],
  /* Hungarian */
  [lang|=id],
  /* Indonesian */
  [lang|=is],
  /* Icelandic */
  [lang|=it],
  /* Italian */
  [lang|=kxd],
  /* Brunei Malay */
  [lang|=la],
  /* Latin */
  [lang|=mcm],
  /* Kristang */
  [lang|=mi],
  /* Māori */
  [lang|=mfa],
  /* Pattani Malay */
  [lang|=mg],
  /* Malagasy */
  [lang|=min],
  /* Minangkabau */
  [lang|=mnr],
  /* Mono */
  [lang|=ms],
  /* Malay (meta-language) */
  [lang|=nl],
  /* Dutch */
  [lang|=no],
  /* Norwegian */
  [lang|=pcc],
  /* Bouyei */
  [lang|=pis],
  /* Pijin (Solomon Islands) */
  [lang|=pt],
  /* Portuguese */
  [lang|=raw],
  /* Rawang */
  [lang|=rng],
  /* Ronga */
  [lang|=sm],
  /* Samoa */
  [lang|=sn],
  /* Shona */
  [lang|=so],
  /* Somali */
  [lang|=st],
  /* seSotho */
  [lang|=sv],
  /* Swedish */
  [lang|=tn],
  /* Tswana */
  [lang|=to],
  /* Tongan */
  [lang|=tpi],
  /* Tok Pisin */
  [lang|=tr],
  // Turkish
  [lang|=urh],
  // Urhobo
  [lang|=ve],
  /* Venda */
  [lang=vi],
  /* Vietnamese (but not vi-Hani) */
  [lang|=yo],
  /* Yoruba */
  [lang|=zu] // isiZulu
):not(.noun
  /* present proper nouns upright as there is no need to distinguish from surrounding text */
) {
  font-style: italic;
}

body {
  // pwid: We are going to be embedding Japanese and Chinese in Latin text,
  //       so make them proportional. This has better spacing for kana etc.
  font-variant-east-asian: proportional-width;

  // hkna: Always writing horizontally here, so prefer horizontally-optimized
  //       forms.
  // disabled: this makes Yu Mincho at least fixed-width, counteracting the above proportional-width setting
  // font-feature-settings: "hkna";

  font-kerning: normal;
}

rt {
  // why is this not on by default!
  font-variant-east-asian: ruby;
}

// Use a Vietnamese-specific font, if present:
:lang(vi-Hani) {
  font-family: "Nom Na Tong", serif;
}

// Use a specific font for Arabic/Persian/etc, or else we get Times New Roman on Windows:
:lang(fa):not(:lang(fa-Latn)),
:lang(ar):not(:lang(ar-Latn)),
:lang(ur):not(:lang(ur-Latn)),
:lang(ota):not(:lang(ota-Latn)),
// *-Arab is not yet supported
:lang(ms-Arab), :lang(pa-Arab) {
  font-family: "Noto Naksh", serif;
}

// With hope for the future:
:lang("*-Arab") {
  font-family: "Noto Naksh", serif;
}

/* Work titles in non-Latin languages should be upright, not italic: */
cite:lang(zh):not(:lang(zh-Latn)) {
  font-style: inherit;

  &::before { content: '《'; }
  &::after { content: '》'; }

  cite {
    &::before { content: '〈 '; }
    &::after { content: '〉'; }
  }
}

cite:lang(ja):not(:lang(ja-Latn)) {
  font-style: inherit;

  &::before { content: '『' }
  &::after { content: '』' }

  cite {
    &::before { content: '「' };
    &::after { content: '」'};
  }
}

cite:lang(ar):not(:lang(ar-Latn)),
cite:lang(fa):not(:lang(fa-Latn)) {
  font-style: inherit;

  &::before {
    content: '“'
  }

  &::after {
    content: '”'
  }
}

/* Fingers crossed these are the same across all fonts.
   These are correct on Yu Mincho and Kozuka Mincho, at least.
 */
.circled {
  font-feature-settings: "nalt" 2
}

.squared {
  font-feature-settings: "nalt" 4
}

.playing-cards {
  font-family: "NKD04";
}

.red {
  color: #CC0000;
}

.blue {
  color: #0000CC;
}
