/* present proper nouns upright as there is no need to distinguish from surrounding text */
span[lang]:not(.noun):is( // Italicize all *-Latn languages:
  [lang*="-Latn" i],
  // Italicize non-English (but Latin) languages:
  [lang|=ace], // Acehnese
  [lang|=bem], // Bemba
  [lang|=bjn], // Banjarese
  [lang|=bnt], // Bantu (family)
  [lang|=ca], // Catalan
  [lang|=cbl], // Chin (Bualkhaw)
  [lang|=cfm], // Chin (Falam)
  [lang|=da], // Danish 
  [lang|=de], // German 
  [lang|=dtp], // Dusun(ic) 
  [lang|=ee], // Ewe 
  [lang|=es], // Spanish 
  [lang|=fil], // Filipino 
  [lang|=fr], // French 
  [lang|=ga], // Gaelic
  [lang|=gd], // Scots Gaelic
  [lang|=gsw], // Swiss German
  [lang|=gup], // Bininj Kunwok
  [lang|=haw], // Hawaiian 
  [lang|=hu], // Hungarian 
  [lang|=id], // Indonesian 
  [lang|=is], // Icelandic 
  [lang|=it], // Italian
  [lang|=ilb], // Ila
  [lang|=kew], // Kewa (West) 
  [lang|=kxd], // Brunei Malay 
  [lang|=ksx], // Kédang 
  [lang|=la], // Latin
  [lang|=lg], // Luganda
  [lang|=loz], // Lozi
  [lang|=lun], // Lunda
  [lang|=mbw], // Maring 
  [lang|=mcm], // Kristang
  [lang|=mi], // Māori
  [lang|=mfa], // Pattani Malay
  [lang|=mg], // Malagasy
  [lang|=min], // Minangkabau 
  [lang|=mnk], // Mandinka 
  [lang|=mnr], // Mono 
  [lang=ms], // Malay (meta-language) - exclude ms-Arab
  [lang|=nl], // Dutch 
  [lang|=no], // Norwegian 
  [lang|=nso], // sePedi 
  [lang|=pcc], // Bouyei 
  [lang|=pis], // Pijin (Solomon Islands) 
  [lang|=pt], // Portuguese 
  [lang|=raw], // Rawang 
  [lang|=rn], // Rundi
  [lang|=rng], // Ronga 
  [lang|=rw], // Kinyarwanda
  [lang|=sm], // Samoa 
  [lang|=smi], // Sámi
  [lang|=sn], // Shona 
  [lang|=so], // Somali 
  [lang|=st], // seSotho 
  [lang|=sv], // Swedish 
  [lang|=tiw], // Tiwi 
  [lang|=tn], // Tswana 
  [lang|=to], // Tongan
  [lang|=toi], // Tonga (Zimbabwe)
  [lang|=tpi], // Tok Pisin
  [lang|=tr], // Turkish
  [lang|=tum], // Tumbuka
  [lang|=tw], // Twi
  [lang|=urh], // Urhobo
  [lang|=ve], // Venda
  [lang=vi], // Vietnamese (but not vi-Hani)
  [lang|=yo], // Yoruba
  [lang|=zu] // isiZulu

) {
  font-style: italic;
}

body {
  // pwid: We are going to be embedding Japanese and Chinese in Latin text,
  //       so make them proportional. This has better spacing for kana etc.
  font-variant-east-asian: proportional-width;

  // hkna: Always writing horizontally here, so prefer horizontally-optimized
  //       forms.
  // disabled: this makes Yu Mincho at least fixed-width, counteracting the above proportional-width setting
  // font-feature-settings: "hkna";

  font-kerning: normal;
}

rt {
  // why is this not on by default!
  font-variant-east-asian: ruby;
}


/* Ancient Egyptian - this is a special quadrat-supporting font */
span[lang]:lang(egy):not(:lang(egy-Latn)) {
  font-family: EgyptianText, "Egyptian Text", serif;
}

/* Work titles in non-Latin languages should be upright, not italic: */
cite[lang]:lang(zh):not(:lang(zh-Latn)) {
  font-style: inherit;

  &::before {
    content: '《';
  }

  &::after {
    content: '》';
  }

  cite {
    &::before {
      content: '〈 ';
    }

    &::after {
      content: '〉';
    }
  }
}

cite[lang]:lang(ja):not(:lang(ja-Latn)),
cite[lang]:lang(ko):not(:lang(ko-Latn)) {
  font-style: inherit;

  &::before {
    content: '『'
  }

  &::after {
    content: '』'
  }

  cite {
    &::before {
      content: '「'
    }

    ;

    &::after {
      content: '」'
    }

    ;
  }
}

cite[lang]:lang(ar):not(:lang(ar-Latn)),
cite[lang]:lang(fa):not(:lang(fa-Latn)) {
  font-style: inherit;

  &::before {
    content: '“'
  }

  &::after {
    content: '”'
  }
}

/* Fingers crossed these are the same across all fonts.
   These are correct on Yu Mincho and Kozuka Mincho, at least.
 */
.circled {
  font-feature-settings: "nalt" 2
}

.squared {
  font-feature-settings: "nalt" 4
}

.playing-cards {
  font-family: "Card Indices", $font-family-sans-serif;
}

.red {
  color: #CC0000;
}

.blue {
  color: #0000CC;
}

// improve ordinals
sup.ordinal {
  vertical-align: unset;
  position: unset;
  line-height: unset;
  top: unset;
  font-size: unset;

  // just specify 'ordn'
  font-variant-numeric: ordinal;
}
