
/* Latin (BasicLatin, GeneralPunctuation, Latin1Supplement) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-Latin-Bold.woff2') format('woff2');
    font-weight: bold;
    unicode-range: U+0000-007f,U+2000-206f,U+0080-00ff;
}
/* Latin (BasicLatin, GeneralPunctuation, Latin1Supplement) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-Latin-BoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: bold;
    unicode-range: U+0000-007f,U+2000-206f,U+0080-00ff;
}
/* Latin (BasicLatin, GeneralPunctuation, Latin1Supplement) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-Latin-Italic.woff2') format('woff2');
    font-style: italic;
    unicode-range: U+0000-007f,U+2000-206f,U+0080-00ff;
}
/* Latin (BasicLatin, GeneralPunctuation, Latin1Supplement) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-Latin-Regular.woff2') format('woff2');
    unicode-range: U+0000-007f,U+2000-206f,U+0080-00ff;
}
/* LatinExt (LatinExtendedA, CombiningDiacriticalMarks) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-LatinExt-Bold.woff2') format('woff2');
    font-weight: bold;
    unicode-range: U+0100-017f,U+0300-036f;
}
/* LatinExt (LatinExtendedA, CombiningDiacriticalMarks) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-LatinExt-BoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: bold;
    unicode-range: U+0100-017f,U+0300-036f;
}
/* LatinExt (LatinExtendedA, CombiningDiacriticalMarks) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-LatinExt-Italic.woff2') format('woff2');
    font-style: italic;
    unicode-range: U+0100-017f,U+0300-036f;
}
/* LatinExt (LatinExtendedA, CombiningDiacriticalMarks) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-LatinExt-Regular.woff2') format('woff2');
    unicode-range: U+0100-017f,U+0300-036f;
}
/* ChineseTranslit (LatinExtendedB, SuperscriptsandSubscripts) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-ChineseTranslit-Bold.woff2') format('woff2');
    font-weight: bold;
    unicode-range: U+0180-024f,U+2070-209f;
}
/* ChineseTranslit (LatinExtendedB, SuperscriptsandSubscripts) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-ChineseTranslit-BoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: bold;
    unicode-range: U+0180-024f,U+2070-209f;
}
/* ChineseTranslit (LatinExtendedB, SuperscriptsandSubscripts) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-ChineseTranslit-Italic.woff2') format('woff2');
    font-style: italic;
    unicode-range: U+0180-024f,U+2070-209f;
}
/* ChineseTranslit (LatinExtendedB, SuperscriptsandSubscripts) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-ChineseTranslit-Regular.woff2') format('woff2');
    unicode-range: U+0180-024f,U+2070-209f;
}
/* VietIndic (LatinExtendedAdditional) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-VietIndic-Bold.woff2') format('woff2');
    font-weight: bold;
    unicode-range: U+1e00-1eff;
}
/* VietIndic (LatinExtendedAdditional) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-VietIndic-BoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: bold;
    unicode-range: U+1e00-1eff;
}
/* VietIndic (LatinExtendedAdditional) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-VietIndic-Italic.woff2') format('woff2');
    font-style: italic;
    unicode-range: U+1e00-1eff;
}
/* VietIndic (LatinExtendedAdditional) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-VietIndic-Regular.woff2') format('woff2');
    unicode-range: U+1e00-1eff;
}
/* Historical (LatinExtendedD) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-Historical-Bold.woff2') format('woff2');
    font-weight: bold;
    unicode-range: U+a720-a7ff;
}
/* Historical (LatinExtendedD) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-Historical-BoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: bold;
    unicode-range: U+a720-a7ff;
}
/* Historical (LatinExtendedD) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-Historical-Italic.woff2') format('woff2');
    font-style: italic;
    unicode-range: U+a720-a7ff;
}
/* Historical (LatinExtendedD) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-Historical-Regular.woff2') format('woff2');
    unicode-range: U+a720-a7ff;
}
