
/* LatinFallback (BasicLatin, CombiningDiacriticalMarks) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-LatinFallback-Bold.woff2') format('woff2');
    font-display: swap;
    font-weight: bold;
    unicode-range: U+0000-007f,U+0300-036f;
}
/* LatinFallback (BasicLatin, CombiningDiacriticalMarks) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-LatinFallback-BoldItalic.woff2') format('woff2');
    font-display: swap;
    font-style: italic;
    font-weight: bold;
    unicode-range: U+0000-007f,U+0300-036f;
}
/* LatinFallback (BasicLatin, CombiningDiacriticalMarks) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-LatinFallback-Italic.woff2') format('woff2');
    font-display: swap;
    font-style: italic;
    unicode-range: U+0000-007f,U+0300-036f;
}
/* LatinFallback (BasicLatin, CombiningDiacriticalMarks) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-LatinFallback-Regular.woff2') format('woff2');
    font-display: swap;
    unicode-range: U+0000-007f,U+0300-036f;
}
/* Historical (LatinExtendedD) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-Historical-Bold.woff2') format('woff2');
    font-display: swap;
    font-weight: bold;
    unicode-range: U+a720-a7ff;
}
/* Historical (LatinExtendedD) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-Historical-BoldItalic.woff2') format('woff2');
    font-display: swap;
    font-style: italic;
    font-weight: bold;
    unicode-range: U+a720-a7ff;
}
/* Historical (LatinExtendedD) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-Historical-Italic.woff2') format('woff2');
    font-display: swap;
    font-style: italic;
    unicode-range: U+a720-a7ff;
}
/* Historical (LatinExtendedD) */
@font-face {
    font-family: 'Charis SIL';
    src: local('Charis SIL'), url('/fonts/charis/CharisSIL-Historical-Regular.woff2') format('woff2');
    font-display: swap;
    unicode-range: U+a720-a7ff;
}
