:root {
    --font-size: 1.125rem;
    --base-unit: calc(1.125 * 1.5rem);
    --text-width: calc(22 * var(--base-unit));
    --footnote-width: calc(15 * var(--base-unit));

    --bu2: calc(2 * var(--base-unit));

    --font-size-sm: calc(0.75 * var(--font-size));
    --line-height-sm: calc(0.75 * var(--base-unit));

    color-scheme: light dark;

    --colour-light: #f8dbc3;
    --colour-dark: #000649;
    --colour-primary: #7f5e48;
    --colour-secondary: #965541;
    --colour-accent: #483a55;
    --colour-accent2: #6d6f84;
    --colour-accent3: #b89da3;
    --colour-black: light-dark(black, white);
    --colour-info: #fca53d;
    --colour-success: #55a611;
    --colour-warning: #ffc05b;
    --colour-danger: #f20861;

    /* Overridden by media queries */
    --nav-direction: column;
    --main-padding-left: var(--base-unit);
    --main-padding-right: var(--base-unit);
    --figure-wide-overlap: 0;
}

/*
sm: 576px;
md: 768px;
lg: 992px;
xl: 1200px;
xxl: 1400px;
*/

@media (min-width: 768px) {
    :root {
        --main-padding-left: 20vw;
        --main-padding-right: var(--bu2);
        --nav-direction: row;
        --figure-wide-overlap: calc(3 * var(--base-unit));
    }
}

/*** Reset (based upon ) ***/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*** Layout ***/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

article {
    display: grid;
    grid-template-columns:
        minmax(var(--figure-wide-overlap), 1fr)
        var(--text-width)
        minmax(calc(var(--footnote-width) + var(--base-unit)), 3fr);

    &>* {
        grid-column: 2;
    }
}

/*** Text setup ***/
body {
    font-size: var(--font-size);
    font-family:
        "Source Serif 4",
        "Charis SIL",
        serif;
    /* WCAG suggestion */
    line-height: var(--base-unit);
    font-weight: 380;


    /** pwid: We are going to be embedding Japanese and Chinese in Latin text,
        so make them proportional. This has better spacing for kana etc. */
    font-variant-east-asian: proportional-width;

    /* We would like to enable this setting
       but it seems to make Yu Mincho fixed-width, 
       counteracting the above setting. */
    /* font-feature-settings: "hkna"; */

    font-kerning: normal;
    font-variant-numeric: oldstyle-nums;
    font-variant-ligatures: common-ligatures contextual;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: var(--base-unit);
    
    .permalink {
        display: none; /* TODO */
    }
}

h1, h2 { 
    line-height: calc(2 * var(--base-unit));
}

h2 {
    margin-left: calc(-1 * var(--base-unit));
    border-bottom: 1px solid var(--colour-accent2);
}

p {
    /* == line-height */

    /* Lead paragraphs */
    &.lead {
        font-weight: 350;
        font-size: calc(1.5 * var(--font-size));
        line-height: calc(1.5 * var(--base-unit));
        
        /* Push out RHS by same amount as figure */
        margin-right: calc(-2 * var(--figure-wide-overlap));
        
        text-align: left;
    }

    &:not(.lead) {
        hyphens: auto;
    }
}

* + p {
    margin-top: 1.5em;
}

/* Main content is justified */
section>p {
    text-align: justify;
}

a {
    text-decoration: underline var(--colour-light);
    color: var(--colour-primary);

    &:hover {
        text-decoration: underline var(--colour-accent);
    }
}

/*** Header & Footer ***/
nav.site,
footer {
    padding: var(--base-unit);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: var(--nav-direction);
}

header {
    margin-bottom: calc(2 * var(--base-unit));
}

footer {
    margin-top: calc(2 * var(--base-unit));
    border-top: 2px solid var(--colour-accent2);
}

nav {
    a {
        color: var(--colour-primary);
        text-decoration: none;
    }

    .brand,
    .page-title {
        font-size: 2rem;
        line-height: 2rem;
    }

    .brand {
        font-weight: 900;
    }

    .page-title {
        font-style: italic;
        font-weight: bolder;
    }

    ul {
        li {
            display: inline;

            &::before {
                content: '·'
            }

            &:first-child::before {
                content: unset;
            }
        }
    }

    input,
    button {
        border: 1px solid var(--colour-black);
        color: var(--colour-black);
        background-color: white;
    }

    input {
        border-radius: 3px 0 0 3px;
    }

    button {
        border-radius: 0 3px 3px 0;
    }
}

/*** Breadcrumbs ***/

nav.breadcrumbs {
    padding: 0 1em 0 1em;

    ol {
        padding-left: 0;

        list-style: none;

        li {
            &::before {
                content: " / ";
                color: var(--colour-accent2);
            }

            display: inline;
        }
    }

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/*** Citations ***/

sup.citation {
    /* show citations using real 'sups' feature */
    font-size: unset;
    vertical-align: unset;
    font-variant-position: super;
}

/*** Abbreviations ***/

abbr {
    text-decoration: none;

    &[title] {
        cursor: help;
    }

    &.initialism {
        /* apply 'c2sc' feature */
        font-variant-caps: all-small-caps;
    }
}

/*** Misc ***/
/* Markdown output often generates empty paragraphs between
   figures etc. Remove them. */
p:empty {
    display: none;
}

span.draft {
    color: white;
    background-color: var(--colour-info);
    border: 2px solid var(--colour-black);
    border-radius: 5px;
    padding: 0 4px 0 4px;

    &::before {
        content: '🚧';
    }
}

/*** Images ***/
.inline-img {
    height: 1em;
    margin-bottom: -1px;

    &.big {
        height: 2em;
    }
}

/*** Figures ***/

figure {
    margin-top: var(--base-unit);
    clear: both;
    text-align: center;

    .figure-img {
        display: block;
        max-width: 100%;
        max-height: 450px;
        height: auto;
        width: auto;
        object-fit: contain;
        
        cursor: zoom-in;

        &:not(.border-0) {
            border: 1px solid var(--colour-accent2);
        }
    }
    
    &.wide {
        margin-left: calc(-1 * var(--figure-wide-overlap));
        /* bias it to the right a bit */
        margin-right: calc(-2 * var(--figure-wide-overlap));
        
        /* we know this won’t be too tall because it’s wide */
        .figure-img {
            max-height: unset;
        }
    }
    
    &.extra-wide {
        margin-left: calc(-1 * var(--figure-wide-overlap));
        margin-right: calc(-1 * var(--footnote-width) - var(--base-unit));
        
        .figure-img {
            max-height: unset;
        }
    }
}

figcaption {
    margin-top: calc(0.5 * var(--base-unit));

    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);

    text-align: center;
    text-wrap: balance;
}

dialog.lightbox {
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    margin: auto;
    
    &>img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        cursor: zoom-out;
        
        max-height: calc(100vh - 200px);
    }
}

/*** Blockquote ***/

blockquote {
    margin-top: var(--base-unit);
    margin-left: var(--base-unit);
    color: var(--colour-accent);

    text-align: start;
}

/*** Multi ***/

div.multi {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    
    gap: calc(0.5 * var(--base-unit));

    /*
    &>figure {
        width: unset;

        &>img {
            width: 100%;
        }
    }
    */
}

.columnar {
    columns: 2;
}

/*** Footnotes ***/
body {
    counter-reset: footnote;
}

.footnote {
    float: right;
    clear: right;
    width: var(--footnote-width);
    margin-right: calc(-1 * var(--footnote-width) - var(--base-unit));
    
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    text-align: left;
}

.footnote-indicator::before {
    counter-increment: footnote;
    content: counter(footnote);
    font-variant-position: super;
}

span.footnote::before {
    content: counter(footnote) ": ";
}
