/*
@font-face {
    font-family: NotoEgyptian;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/NotoSansEgyptianHieroglyphs-Regular.ttf);
}

@font-face {
    font-family: MahJongFont;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/hintedSymbola.ttf);
}
*/

/* /1* Supply a font for hieroglyphs: *1/ */
/* :lang(egy) { font-family: NotoEgyptian } */
/* :lang(egy-Latn) { font-family: sans-serif } */
/* /1* Pai fonts: *1/ */
/* .mahjong { font-family: MahJongFont; font-size: 2rem; } */

body {
    margin: 5%;
    text-align: justify;
    font-family: serif;
    font-size: medium;
}

code {
    font-family: monospace;
}

/* Parts: */
h1 {
    text-align: left; 
    page-break-before: always;
    page-break-after: avoid;
}

/* Categories: */
h2 {
    text-align: left; 
    page-break-before: always;
    page-break-after: avoid;
}

/* Games: */
h3 {
    text-align: left; 
    /* page-break-before: always; */
    page-break-after: avoid;
}

/* Game section: */
h4 {
    text-align: left; 
    page-break-after: avoid;
}

h5 {
    text-align: left; 
    page-break-after: avoid;
}

h6 {
    text-align: left;
    page-break-after: avoid;
}

/* Black block in margin: */
h2 {
    position: relative;
    left: -0.6em;
    border-left: 0.2em solid black;
    padding-left: 0.8em;
}

h1.title { }
h2.author { }
h3.date { }
ol.toc { padding: 0; margin-left: 1em; }
ol.toc li { list-style-type: none; margin: 0; padding: 0; }

/* Footnote references are superscript: */
.footnote-ref {
    vertical-align: super;
    font-size: 0.6em;
}
