@font-face {
    font-family: "UniHentaiKana";
    src: url('./UniHentaiKana-Regular.woff') format('woff');
}

@font-face {
    font-family: "cc-icons";
    src: url('./cc-icons.woff2') format('woff2');
}

$font-family-serif:
    "Mercury SSm A", "Mercury SSm B",
    Georgia,
    serif,
    "UniHentaiKana", /* fallback for Hentaigana chars */
    "cc-icons"; /* Creative Commons Unicode characters */

$font-family-sans-serif: "Gotham SSm A", "Gotham SSm B", sans-serif;
$font-family-base: $font-family-serif;
$headings-font-family: $font-family-sans-serif;
$text-color: #000;

$brand-primary: #2455c3;

$font-size-base: 0.9375rem;
$h1-font-size: 2 * $font-size-base;
$h2-font-size: 1.5 * $font-size-base;
$h3-font-size: 1.33333 * $font-size-base;
$h4-font-size: 1.3 * $font-size-base;
$h5-font-size: 1.25 * $font-size-base;
$h6-font-size: 1.2 * $font-size-base;

$theme-colors: ("darker": #333);

$figure-caption-font-size: 1.2 * .625rem;

@import '~bootstrap/scss/bootstrap.scss';
@import './text.css';

body {
    font-variant-numeric: oldstyle-nums;
}

#root {
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
}

h1, h2 {
    text-align: center;
}

a {
    color: $brand-primary;
    text-decoration: none;
}

h1 {
    margin-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 0rem;
}

h1 a {
    color: inherit;
}

h2 {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

h2::before { 
    font-family: serif;
    font-weight: 100;
    content: "― " 
}

h2::after {
    font-family: serif;
    font-weight: 100;
    content: " ―";
}

.navbar {
    font-family: "Archer SSm A", "Archer SSm B", "cc-icons", /* Creative Commons Unicode characters */
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav {
    text-transform: uppercase;
}

main {
    flex: 1;
    margin-top: 50px;
    text-align: justify;
    hyphens: auto;
    overflow-wrap: break-word;
    padding-bottom: 3em;
}

section {
    display: flow-root;
}

blockquote {
  margin-left: 2em;
}

/*** Figures ***/
.figure {
    display: block;
}

figcaption {
    line-height: 1.1rem;
}

/* set a max height for images */
figure > img {
    max-height: 400px;
}

/* add a smaller version too */
figure.small > img {
    max-height: 200px;
}

/* image borders */
figure > img {
    border: 1px solid black;
}

/* don't border diagrams */
figure > img[src$=".svg"] {
    border: none;
}

/* Wide images */
figure.wide {
    width: 100%;
}

/* Wide images are oversize on >=large bootstrap size */
@include media-breakpoint-up(lg) {
    figure.wide {
        width: 120%;
        margin-left: -10%;
        clear: both;
    }

    figure.wide > img  {
        max-height: inherit;
        border: 2px solid black;
    }
}

/*** References ***/
/* space them out */
.reference-list > li {
    margin-top: 1em;
    text-align: left;
}

/* hanging indent */
.reference-list.list-unstyled > li {
    margin-left: 3em;
    text-indent: -3em;
}

/*** Highlight target of link ***/
*:target {
    background: lightyellow;
}

/*** Citations ***/
.citation { color: grey }
.citation a { color: #5a7cc9 }
sup.citation { line-height: 0 } /* don't let superscript affect calculated lineheight */

/*** Pronunciation ***/
.pronunciation {
    text-decoration: grey underline dotted;
    cursor: help;
}

.pronunciation:hover {
    text-decoration: black underline dotted;
}

/*** Tables ***/
td.numeric, th.numeric, table.numeric tbody td {
    /* use tabular fonts for numbers then fall back to other characters */
    font-family: "Mercury SSm Tabular A", "Mercury SSm Tabular B", $font-family-serif;
    font-variant-numeric: tabular-nums; /* redundant due to font-family, but useful for fallback */
    text-align: right;
}

table.table {
    width: unset;
    clear: both;
}

table caption {
    line-height: 1.1em;
    text-align: center;
    font-size: $figure-caption-font-size;
}

/*** Footnotes ***/
.footnote {
    text-indent: -.8em;
    font-size: 0.8em;

    text-align: left;

    width: 40%;
    clear: right;
    float: right;
    padding-left: 1.5em;
}

@include media-breakpoint-up(xl) {
    .footnote {
        padding-left: 0;
        margin: 0 -45% 0 0;
    }
}

/*** Multiple items in a row: ***/
div.multi {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    text-align: left;
}

div.multi > * {
    margin: 5px 10px;

    /* In flexbox images have an implied min-width of their 
     * implicit size so we need to override that. Then setting
     * width and height to 100% fixes the aspect ratio. /shrug
     * This solution from: https://github.com/philipwalton/flexbugs/issues/225
     */
    min-width: 0;
    width: 100%;
    // height: 100%;
}

/*** For Japanese/Chinese, where needed ***/
.vertical-rl {
    writing-mode: vertical-rl;
}

/*** Inline images (e.g. GPL icon) ***/
figcaption img {
    vertical-align: text-bottom;
}